<div class="row">
    <div class="col-md-12">
        <div style="background-color: #CC6600;float:left;"><img src="" width="100" height="100"></div>
        <div style="background-color: #CC6600;float:left;"><img src="" width="100" height="100"></div>
        <div style="background-color: #CC6600;float:left;"><img src="" width="100" height="100"></div>
        <div style="background-color: #CC6600;float:left;"><img src="" width="100" height="100"></div>
    </div>
</div>
